* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #2b3547;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #394458;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: beige;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: beige;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }
  
  input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }
  
  select {
    height: 40px;
  }
  
  input[type="file"] {
    margin-top: 5px;
  }
  
  input[type="submit"] {
    background-color: #1c2331;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color:#2d3545;
  }
  
  .error {
    color: #ff0000;
    margin-bottom: 10px;
  }

  button {
    color: #1c2331;
  }
  